<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uj.ssm.mapper.CommMapper" >
  <insert id="CommCreate" parameterType="com.uj.ssm.pojo.Comm" >
    insert into comments (topicid, owner, lasttime, content)
    values (#{topicid}, #{owner,jdbcType=VARCHAR},
      #{lasttime,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <select id="CommRead" parameterType="com.uj.ssm.pojo.Comm" resultType="com.uj.ssm.pojo.Comm" >
    select * from comments where topicid = #{topicid}
  </select>
</mapper>